PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=kreasihub

JWT_SECRET=kode_acak_yg_bisa_dibuat_dengan_nodejs
JWT_EXPIRES_IN=1d

# ini nanti tambah titik jadi .env bro, hapus aja tuh .exampelnya
# Jalankan perintah berikut untuk menghasilkan JWT_SECRET yang aman:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))" lalu copy hasilnya ke JWT_SECRET
